{% capture content %}

<section>
    <h1>{{ problem.name }}</h1>
    {{ problem.description }}
</section>

{% if current_user %}
<section>
    <h1>Submit Solution</h1>

    {% assign len = languages | size %}
    {% if len > 0 %}
    <form method="post" action="">
        <div>
            <label for="language">Language</label><br/>
            <select name="language">
            {% for language in languages %}
                <option value="{{ language.id }}">{{ language.name }}</option>
            {% endfor %}
            </select>
        </div>
        <textarea style="width: 100%; height: 200px;" id="code"></textarea>
        <input type="submit" value="Submit" />
    </form>
    {% else %}
    <p>No languages are configured.</p>
    {% endif %}
</section>
{% endif %}

{% endcapture %}

{% include 'basic.liquid' %}
