{% capture content %}
<div style="text-align: center;">
    <h1 style="font-size: 80px;">404 Not Found</h1>
    <p style="font-size: 30px;">Class, are you with me? This page does not exist.</p>
</div>
{% endcapture %}

{% include 'basic.liquid' %}
